<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/style.css">
<link rel="icon" type="image/x-icon" href="../static/bot.jpg"/>
<title>ChatBot</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="https://entertainment-chatbot-python.herokuapp.com/" class="navbar-brand"><p>ChatBot</p></a>
			</div>
		</div>
	</nav><br><br><br>
<div>
    <div id = "chatbox">
        <p class = "botText"><span>Hey there, lonely human! Let's have a good talk. Shall we?</span></p>
    </div>
    <div id = "userInput">
        <input id ="textInput" class="navbar-fixed-bottom" type ="text" name="msg" placeholder="Say Something!" class="typefield"><br>
        <span class="indicator">...</span>
        <input id = "buttonInput" class="navbar-fixed-bottom" type = "submit" value="Send">
    </div>
<script>
function getBotResponse(){
var rawText = $("#textInput").val();
var userHtml = '<p class = "userText"><span>' + rawText + '</span></p>';
$("#textInput").val("");
$("#chatbox").append(userHtml);
document.getElementById('userInput').scrollIntoView({block:'start',behaviour:'smooth'});
$.get("/get", {msg:rawText }).done(function(data) {
var botHtml = '<p class ="botText"><span>' + data + '</span></p>';
$("#chatbox").append(botHtml);
document.getElementById('userInput').scrollIntoView({block : 'start',behaviour:'smooth'});
});
}
$("#textInput").keypress(function(e) {
if(e.which == 13) {
getBotResponse();
}
});
$("#buttonInput").click(function() {
getBotResponse();
})
</script>
</div>
</body>
</html>