<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="../static/style.css">
<title>ChatBot</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="http://127.0.0.1:5000/" class="navbar-brand"><p>ChatBot</p></a>
			</div>
		</div>
	</nav><br><br><br>
<div>
<div id = "chatbox">
<p class = "botText"><span>Let's have a good talk. Shall we?</span></p>
</div>
<div id = "userInput">
<input id ="textInput" type ="text" name="msg" placeholder="Say Something!" class="typefield"><br>
<span class="indicator">...</span>
<input id = "buttonInput" type = "submit" value="Send">
</div>
<script>
!function(){ 
    var typeState = {
        typing: null
        , init: function(textField, indicator){ 
            $(textField).bind('keypress', function(e) {
                if(typeState.typing) {
                    window.clearTimeout(typeState.typing);
                    typeState.typing = null;
                    $(indicator).show();
                }
                typeState.typing = window.setTimeout(function(){ $(indicator).hide(); }, 333);
            });            
        }
    };
    typeState.init('.typefield', '.indicator');
}();
function getBotResponse(){
var rawText = $("#textInput").val();
var userHtml = '<p class = "userText"><span>' + rawText + '</span></p>';
$("#textInput").val("");
$("#chatbox").append(userHtml);
document.getElementById('userInput').scrollIntoView({block:'start',behaviour:'smooth'});
$.get("/get", {msg:rawText }).done(function(data) {
var botHtml = '<p class ="botText"><span>' + data + '</span></p>';
$("#chatbox").append(botHtml);
document.getElementById('userInput').scrollIntoView({block : 'start',behaviour:'smooth'});
});
}
$("#textInput").keypress(function(e) {
if(e.which == 13) {
getBotResponse();
}
});
$("#buttonInput").click(function() {
getBotResponse();
})
</script>
</div>
</body>
</html>